/* MY CONFIG */
:root {
	--border-fieldset: hsl(220deg 28% 51%);
	--backg-fieldset: hsl(220deg 100% 84%);
	--backg-label: hsl(220deg 100% 90%);
	--backg-nav: hsl(220deg 45% 47% / 85%);
	--backg-nav-li: hsl(220deg 74% 68%);
	--col-dial-title: hsl(220deg 57% 27%);
	--backg-dial-boite-base: hsl(220deg 51% 82%);
	--backg-dial-boite: hsl(220deg 7% 40% / 62%);
	--backg-dial-0: hsl(220deg 38% 90%);
	--linea-dial-1: hsl(220deg 100% 92%);
	--linea-dial-2: hsl(220deg 26% 93%);

	--txt-shadow-3D: 0px -1px 0 rgb(0 0 0 / 40%), 0px 1px 0 rgb(255 255 255), 2px 3px 4px rgb(0 0 0 / 25%);
	--txt-shadow-creux: -1px -2px 0 rgb(0 0 0 / 40%), 1px 2px 0 rgb(255 255 255), 2px 5px 4px rgb(0 0 0 / 25%);
	--txt-shadow-3D-left:
		0 0 0 #eee,
		-0.5px 0.5px 0 #e5e5e5,
		-0.5px 0.5px 0 #C8C8C8,
		-1px 1px 0 #C1C1C1,
		-1.5px 1.5px 0 #B9B9B9,
		-2px 2px 0 #B2B2B2,
		-2.5px 2px 2px rgba(0, 0, 0, 0.6),
		-3px 2px 8px rgba(0, 0, 0, 0.2),
		-3px 2px 25px rgba(0, 0, 0, 0.4);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	/* font-family:Verdana,sans-serif; */
	font-family: Quicksand, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	margin: 0 3px;
}

fieldset {
	width: calc(100% - 10px);
	border: 2px solid var(--border-fieldset);
	background-image: linear-gradient(to bottom, #fff 0, var(--backg-fieldset) 200%) !important;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	-webkit-box-shadow:
		1px 1px 0 0 hsl(0deg 1% 30%),
		1.5px 1.5px 0 0 hsl(0deg 1% 42% / 90%),
		2px 2px 0 0 hsl(0deg 1% 54% / 90%),
		2.5px 2.5px 0 0 hsl(0deg 1% 66% / 90%),
		3px 3px 0 0 hsl(0deg 1% 78% / 90%),
		3.5px 3.5px 0 0 hsl(0deg 1% 90% / 90%);
	box-shadow:
		1px 1px 0 0 hsl(0deg 1% 30%),
		1.5px 1.5px 0 0 hsl(0deg 1% 42% / 90%),
		2px 2px 0 0 hsl(0deg 1% 54% / 90%),
		2.5px 2.5px 0 0 hsl(0deg 1% 66% / 90%),
		3px 3px 0 0 hsl(0deg 1% 78% / 90%),
		3.5px 3.5px 0 0 hsl(0deg 1% 90% / 90%);
}

fieldset legend {
	position: relative;
	top: -15px;
	font-size: 19px;
	font-family: 'Arial', cursive;
	line-height: normal;
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 0 10px 20px;
	border-radius: 10px;
	background: white;
	border-top: 2px solid var(--border-fieldset);
	border-left: 2px solid var(--border-fieldset);
	border-right: 2px solid var(--border-fieldset);
}

fieldset legend div {
	margin-left: 10px;
	margin-top: 5px;
}

fieldset form {
	position: relative;
	top: -35px;
}

.form_colonne fieldset {
	max-width: 500px;
}

.validation-form {
	position: relative;
	top: 30px;
}

label {}

label.theme_legende {
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	/* border-radius: 5px 5px 0 0; */
	padding: 3px 8px;
	/* margin-bottom:10px; */
	background-color: var(--backg-label);
	box-shadow: 0 0.5px 0 #ccc, 1px 1px 0 #c9c9c9, 1.5px 1.5px 0 #bbb, 2px 2px 0 #b9b9b9, 2.5px 2.5px 0 #aaa, 0 3px 1px rgb(0 0 0 / 10%), 0 0 2.5px rgb(0 0 0 / 10%), 0 0.5px 1.5px rgb(0 0 0 / 30%), 0 1.5px 2.5px rgb(0 0 0 / 20%), 0 2.5px 5px rgb(0 0 0 / 25%), 0 5px 5px rgb(0 0 0 / 20%), 0 10px 10px rgb(0 0 0 / 15%);
}

label.theme_legende.effet_3d {
	font-family: 'Arial', cursive
}

label.theme_or {
	background-image: linear-gradient(to bottom, #FEF4D3 0, #FEF4D3 20%, #D2C28A 70%, #D2C28A 100%) !important
}

label.theme_green {
	background-image: linear-gradient(to bottom, hsl(110 76% 82% / 1) 0, hsl(110 76% 82% / 1) 20%, hsl(110 31% 65% / 1) 70%, hsl(110 31% 65% / 1) 100%) !important
}

label.theme_red {
	background-image: linear-gradient(to bottom, hsl(0 76% 82% / 1) 0, hsl(0 30% 75% / 1) 20%, hsl(0 42% 71% / 1) 55%, hsl(0 24% 63% / 1) 70%, #8a8bb7 100%) !important
}

label.theme_blue {
	background-image: linear-gradient(to bottom, hsl(228deg 61% 75%) 0, hsl(228deg 79% 74%) 20%, hsl(228 88% 73% / 1) 55%, hsl(228deg 62% 64%) 70%, hsl(228 88% 73%) 100%) !important
}

input {
	cursor: text !important;
}

img.fondecran {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2000
}

#intro {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 40%
}

#cercle {
	position: fixed;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	float: left;
	z-index: -1000
}

.flexible_non {
	display: flex;
	flex-wrap: nowrap
}

.flexible_oui {
	display: flex;
	flex-wrap: wrap
}

.flexible_colonne {
	display: flex;
	flex-direction: column
}

.flex_centrer {
	justify-content: space-around
}

.flex_centrer {
	justify-content: space-around
}

.flexible_900, .flexible_540 {
	display: flex;
	flex-wrap: nowrap
}

.w100 {
	width: 100%;
	min-width: 0
}

.wauto {
	width: auto !important;
	min-width: 0
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.spacetop {
	padding-top: 8px
}

.spacebottom {
	padding-bottom: 8px
}

.generepwd {
	width: 60px;
	border-radius: 5px;
	font-size: 12px;
	padding: 0;
	margin-top: 5px;
	background-color: #bfccfd
}

.erreur {
	display: none
}

.enligne_erreur {
	font-size: 14px !important;
	/* font-style: italic; */
	color: red;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

.enligne_ok {
	color: #166b1f
}

.label_erreur {
	line-height: 1px;
	height: 1px;
	font-family: 'Arial', cursive;
	width: 222px;
	font-weight: bold;
	color: #fff;
	vertical-align: baseline
}

.view {
	position: relative;
	overflow: hidden;
	cursor: default
}

.Imprim {
	display: none
}

.ahref a {
	color: #27286d !important;
	text-decoration: underline !important
}

.ahref a:hover {
	color: #337ab7 !important;
	text-decoration: underline !important
}

.surligne {
	text-decoration: overline;
}

.barre {
	text-decoration: line-through;
}

.souligne {
	text-decoration: underline;
}

.clignotant {
	animation: Clignotant 1s infinite
}

.clignotant_10 {
	animation: Clignotant 1s 10s
}

.gras {
	font-weight: bold
}

@keyframes Clignotant {
	0% {
		opacity: 1
	}

	50% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.annul {
	float: none;
	clear: both
}

.asterisk {
	font-size: 14px !important;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
	font-style: italic
}

.ligne_entiere {
	white-space: nowrap
}

.no_block, .div_err {
	display: none
}

.no_visible {
	visibility: hidden
}

.capitalise {
	text-transform: capitalize
}

.alert {
	font-size: 14px
}

.alert strong {
	font-size: 16px
}

.align_vertical {
	height: 20em;
	/* hauteur du parent */
	line-height: 20em;
	/* hauteur de ligne (identique) */
	white-space: nowrap;
	/* interdiction de passer à la ligne */
}

.rouge {
	color: red
}

.bleu {
	color: hsl(220deg 79% 35%);
}

.vert {
	color: hsl(108deg 100% 19%);
}

.jaune {
	color: hsl(62deg 99% 49%);
}

.gris {
	color: hsl(0deg 0% 30%);
}

/* HORLOGE ET DATE */
#Logo_info {
	position: relative;
	line-height: 23px;
}

.compteur_jours {
	font-family: LEDCalculator;
	font-size: 20px;
	word-spacing: -4px;
}

.compteur_heures {
	font-family: NUMERIQUE_LCD;
	font-size: 24px;
	position: absolute;
	right: -5px;
	/* font-weight: bold; */
}

.compteur- {
	margin: 0 5px;
	display: none;
}

@media screen and (min-width: 400px) {
	.compteur_jours {
		font-size: 21px;
	}

	.compteur_heures {
		font-size: 28px;
	}
}

@media screen and (max-width: 450px) {
	.compteur_jours {
		font-size: 18px;
	}

	.compteur_heures {
		font-size: 23px;
	}
}

/*###################################################*/
/*  MENU  */

/* ICONE HAMBURGER */
.navicon-checkbox {
	opacity: 0;
	position: absolute;
	left: -1000px;
}

.navicon-checkbox:focus+.navicon-label {
	box-shadow: 0 1px 1px 1px hsl(228deg 100% 28%);
}

.navicon-label {
	position: absolute;
	right: 15px;
	z-index: 999;
	margin: 6px 0 0 0;
	padding: 0 3px 0 2px;
	width: 28px;
	height: 28px;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border-width: 0 2px 2px 0;
	border-bottom: groove;
	border-right: groove;
	overflow: visible;
	background-color: hsl(228deg 67% 76%);
	/* box-shadow: 0 1px 1pt 0.5pt hsl(228deg 100% 28%); */
}

.navicon-label:hover,
.navicon-checkbox:checked~.navicon-label:hover {
	box-shadow: 0 0 2pt 1pt hsl(228deg 100% 28%);
	box-shadow: 0 1px 2pt 1pt hsl(228deg 100% 28%);
}

.navicon-checkbox:checked~.navicon:first-child,
.navicon-checkbox:checked~.navicon:nth-child(2),
.navicon-checkbox:checked~.navicon:last-child {
	background-color: #000;
}


.navicon-box {
	width: 25px;
	/* display: inline-block; */
	/* position: relative; */
}

.navicon {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.navicon:first-child, .navicon:nth-child(2), .navicon:last-child {
	width: 22px;
	height: 3px;
	/* background-color: #000; */
	border-bottom: 3px solid #000;
	border-radius: 30%;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

.navicon:nth-child(2), .navicon:last-child {
	content: "";
	display: block;
}

.navicon {
	top: 6px;
}

.navicon:nth-child(2) {
	top: 14px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 2.2s;
}

.navicon:last-child {
	top: 22px;
}

.navicon-checkbox:checked~.navicon-label .navicon:first-child, .navicon-checkbox:checked~.navicon-label .navicon:last-child {
	background-color: #7b0303;
	border-bottom: 1px solid #000;
	width: 25px;
	left: 1px;
}

.navicon-checkbox:checked~.navicon-label .navicon:first-child {
	transform: translate3d(0, 8px, 0) rotate(45deg);
}

.navicon-checkbox:checked~.navicon-label .navicon:last-child {
	transform: translate3d(0, -8px, 0) rotate(-45deg);
}

.navicon-checkbox:checked~.navicon-label .navicon:nth-child(2) {
	transform-origin: 0 0;
	transform: translate(-800px);
	/*rotate(-45deg) translate3d(-500px, 100px, 0); */
	opacity: 0;
}



/* BOITE MENU */

#navbar {
	display: flex;
	flex-direction: column;
}

#navwrapper {
	position: sticky;
	top: 10px;
	background-color: var(--backg-nav);
	border-style: inset;
	border-width: 1px;
	/* border-radius: 4px; */
	margin: 3px 0px 10px 0;
}

.wrapper_navbar {
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.wrapper_navbar {
		/* margin: 0 30px!important; */
	}

	.wrapper_navbar.newClass {
		/* margin: 0 30px 0 0!important; */
	}
}

nav.main-navigation {
	margin-bottom: 0 !important;
	background: 0;
	/* min-height:35px!important */
}

nav.main-navigation a {
	display: block;
	color: #fff !important;
}

nav.main-navigation a:hover {}

/* MENU PRINCIPAL */
#nav-wrapper_principal a {
	padding: 5px 5px;
}

#nav-wrapper_principal a img {
	width: 30px;
	height: 30px
}

#nav-wrapper_principal {
	/* height: 35px; */
	line-height: 4px;
	/* box-shadow: 0 0 1.5pt 0pt hsl(228deg 100% 17%); */
}

#nav-wrapper_principal.newClass {
	/* left: 0px; */
}

#nav-wrapper_principal #span_menu_1 {
	background-color: hsl(228deg 50% 66%);
}

#nav-wrapper_principal #span_menu_2 {
	z-index: -9;
	background: linear-gradient(90deg, hsl(228deg 50% 66%) 0%, hsl(228deg 45% 47% / 0%) 100%);
}

#nav-wrapper_principal #span_menu_1, #nav-wrapper_principal #span_menu_2 {
	position: relative;
	width: 0;
	left: -50vw;
	transition: 1.9s all .2s;
}

#nav-wrapper_principal #span_menu_2 {
	left: -200px;
}

#nav-wrapper_principal #span_menu_1.newClass, #nav-wrapper_principal #span_menu_2.newClass {
	left: 0px;
}

#nav-wrapper_principal #span_menu_1.newClass {
	width: 180px;
}

#nav-wrapper_principal #span_menu_2.newClass {
	width: 50px;
}


#nav-wrapper_principal span img {
	position: absolute;
	top: -15px;
}

#nav-wrapper_principal span img:last-child {
	display: none;
}

/* MENU SECONDAIRE */

#nav-wrapper_secondaire ul {
	margin: 7px 2px 0 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#nav-wrapper_secondaire li {
	margin: auto;
	padding: 0;
	background-color: var(--backg-nav-li);
	-webkit-box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23% / 0%);
	-moz-box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23% / 0%);
	box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23% / 0%);
}

#nav-wrapper_secondaire li a {
	display: block;
	/* width:100px; */
	color: white;
	text-decoration: none;
	padding: 5px;
}

#nav-wrapper_secondaire li a div {
	position: relative;
}

#nav-wrapper_secondaire li ul li a {
	padding: 5px 0 !important;
}

#nav-wrapper_secondaire li:hover {
	-webkit-box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23%);
	-moz-box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23%);
	box-shadow: 0px 0px 10px 1px hsl(228deg 5% 23%);
	position: relative;
	/* padding: 1px; */
	z-index: 5;
}

#nav-wrapper_secondaire li ul {
	max-height: 0;
	overflow: hidden;
	transition: 1.9s all .2s;
	/* transition: width 2s, height 2s, transform 2s; */
	/* -webkit-transition: -webkit-transform .8s ease-in-out; */
	/* -ms-transition: -ms-transform .8s ease-in-out; */
	/* transition: transform .8s ease-in-out;   */
}

#nav-wrapper_secondaire li:hover ul {
	max-height: 15em;
}

#nav-wrapper_secondaire li .fa-caret-down {
	-webkit-transition: -webkit-transform .8s ease-in-out;
	-ms-transition: -ms-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

#nav-wrapper_secondaire li a div div:nth-child(3) {
	position: absolute;
	right: 0;
}

#nav-wrapper_secondaire li:hover .fa-caret-down {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}


#nav-wrapper_secondaire li ul li {
	background: #444;
	border-left: 6px solid #444 !important;
	border-bottom: 1.5px solid #444 !important;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 20px;
}

#nav-wrapper_secondaire li ul li:hover {
	background-color: #6d6565;
	-webkit-box-shadow: 0px 0px 0px 0px hsl(228deg 5% 23%);
	-moz-box-shadow: 0px 0px 0px 0px hsl(228deg 5% 23%);
	box-shadow: 0px 0px 0px 0px hsl(228deg 5% 23%);
	border-left: 6px solid #ccc !important;
	border-bottom: 1.5px solid red !important;
	padding: 0;
}

#nav-wrapper_secondaire li:hover ul li {
	float: none;
}

@media screen and (max-width: 767px) {
	#nav-wrapper_principal #span_menu_1.newClass {
		width: 115px;
	}

	#nav-wrapper_principal span img:first-child {
		display: none;
	}

	#nav-wrapper_principal span img:last-child {
		display: block;
		height: 68px;
	}

	#nav-wrapper_secondaire {
		/* max-height:0; */
		position: absolute;
		z-index: 999;
		left: -220px;
		top: 40px;
		overflow: hidden;
		-moz-transition: 1.5s all 0s;
		-webkit-transition: 1.5s all 0s;
		transition: 1.5s all 0s;
		width: 170px;
		background-color: #9c0000;
		padding: 0px;
	}

	#nav-wrapper_secondaire ul {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		/* width: 170px; */
	}

	#navicon-checkbox:checked~#nav-wrapper_secondaire {
		/* max-height:500px; */
		/* position: absolute; */
		left: 5px;
		margin-top: 15px;
		box-shadow: 0px 0px 10px 5px hsl(228deg 5% 23%);
		width: 200px;
		background-color: #4258b0;
		padding: 8px;
	}
}

@media screen and (min-width: 768px) {

	/* ICONE HAMBURGER */
	.navicon-label, #navicon-checkbox {
		display: none;
	}

	#navicon-checkbox:checked~#navwrapper .wrapper_navbar .main-navigation .nav-wrapper #nav-wrapper_secondaire {
		margin: 0;
	}

	/* MENU */
	#navbar {
		flex-direction: row;
		justify-content: space-between;
	}

	/* MENU PRINCIPAL */

	/* MENU SECONDAIRE */

	#nav-wrapper_secondaire {
		/* height:32px; */
	}

	#nav-wrapper_secondaire ul ul {
		/* padding-top: 2px; */
		margin: 0;
	}

	#nav-wrapper_secondaire li {
		/* float:left; */
		width: 140px;
		height: 33px;
		border-top: groove;
		border-radius: 10px 10px 0 0;
		margin-left: 2px;
	}

	#nav-wrapper_secondaire li ul {
		position: absolute;
	}

}

/*###################################################*/
/*###################################################*/
/* FOND D'ECRAN */
#fondecran {
	display: none;
}

/*###################################################*/
/* LOGO */
#logo-im {
	/* width: 60%; */
	max-width: 350px;
}

#logo-im img {
	max-width: 100%;
	max-height: 100%;
}

#logo-info .logo {
	font-size: 6vw;
	font-weight: bold;
}

@media screen and (min-width: 865px) {
	#logo-info .logo {
		font-size: 52px;
		padding-right: 2vw;
	}
}

/*###################################################*/
/* BORDER */

.wrapper, .wrapper_alert, #navwrapper, .wrapper-name, .w3-avatar {
	-webkit-box-shadow:
		1px 1px 0 0 hsl(0deg 1% 30%),
		1.5px 1.5px 0 0 hsl(0deg 1% 42% / 90%),
		2px 2px 0 0 hsl(0deg 1% 54% / 90%),
		2.5px 2.5px 0 0 hsl(0deg 1% 66% / 90%),
		3px 3px 0 0 hsl(0deg 1% 78% / 90%),
		4px 4px 8px 1px hsl(0deg 0% 100% / 34%);

	box-shadow:
		1px 1px 0 0 hsl(0deg 1% 30%),
		1.5px 1.5px 0 0 hsl(0deg 1% 42% / 90%),
		2px 2px 0 0 hsl(0deg 1% 54% / 90%),
		2.5px 2.5px 0 0 hsl(0deg 1% 66% / 90%),
		3px 3px 0 0 hsl(0deg 1% 78% / 90%),
		4px 4px 8px 1px hsl(0deg 0% 100% / 34%);

}

.wrapper {
	margin: 0;
	padding: 0 5px;
}

#div_body .wrapper {
	padding: 10px 5px 0 5px;
	text-align: justify;
}

@media screen and (min-width: 768px) {
	.wrapper {
		/*margin: 0 30px; */
		/* box-shadow: 0 0 2.5em 0.5em rgb(204 204 204 / 50%); */
	}
}

.wrapper-name span {
	width: 270px;
	height: 0;
	font-size: 20px;
	margin-left: 5px;
}

.wrapper-name span, .wrapper-name div {
	color: white;
	font-family: 'Arial', cursive;
	font-weight: normal;
	font-style: normal;
}

.wrapperbox {
	margin: 0 auto;
}

@media screen and (min-width: 960px) {
	.wrapperbox {
		max-width: 1200px;
		min-width: 801px;
		width: auto;
	}
}

.fond_multicolor {
	align-items: center;
	background-image: linear-gradient(to right, hsl(227deg 76% 27%), hsl(219deg 80% 60%), hsl(56deg 84% 61%), hsl(328deg 68% 31%), hsl(216deg 92% 25%)) !important;
	background-size: 600%;
	background-position: 0 0;
	/* box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5); */
	/*display: flex;
	font-family: 'Lato', Arial, sans-serif;
	height: 100%;
	justify-content: center;*/
	/* Animation */
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-name: gradients;
}

@keyframes gradients {
	0% {
		background-position: 0 0;
	}

	25% {
		background-position: 50% 0;
	}

	50% {
		background-position: 90% 0;
	}

	60% {
		background-position: 60%;
	}

	75% {
		background-position: 40%;
	}

	100% {
		background-position: 0 0;
	}
}

/*###################################################*/
/* FONT */


/*###################################################*/
/* STYLE*/
.effet_3d {
	--couleur: 0, 0, 0;
	color: white;
	text-shadow:
		0 .5px 0 #ccc,
		0 1px 0 #acacac,
		0 1.5px 0 #a0a0a0,
		0 2px 0 #9b9a9a,
		0 2.5px 0 #888787,
		0 3px 1px rgba(var(--couleur), .1),
		0 0 2px rgba(var(--couleur), .1),
		0 1px 1.5px rgba(var(--couleur), .3),
		0 1.5px 2.5px rgba(var(--couleur), .3),
		0 2.5px 5px rgba(var(--couleur), .25),
		0 5px 5px rgba(var(--couleur), .2),
		0 10px 10px rgba(var(--couleur), .15);
}

.text_3d {
	text-shadow:
		0 1px 0 #eee,
		0 2px 0 #e5e5e5,
		-1px 3px 0 #C8C8C8,
		-1px 4px 0 #C1C1C1,
		-2px 5px 0 #B9B9B9,
		-2px 6px 0 #B2B2B2,
		-2px 7px 2px rgba(0, 0, 0, 0.6),
		-2px 7px 8px rgba(0, 0, 0, 0.2),
		-2px 7px 45px rgba(0, 0, 0, 0.4) !important;
}

.noir {
	color: hsl(0, 0%, 0%);
}

.bleu_fonce {
	color: hsl(236 95% 22%);
}

.bleu_clair {
	color: hwb(236 76% 0%);
}

/*###################################################*/
/* FOOTER */

#foot-info+div {
	max-height: 0;
	overflow: hidden;
	-moz-transition: 1.2s all .4s;
	-webkit-transition: 1.2s all .4s;
	transition: 1.2s all .4s
}

#foot-info:hover+div,
#foot-info+div:hover {
	max-height: 700px
}

/*###################################################*/
/* boite_de_dialogue */
#boite_de_dialogue {
	display: none;
	left: 0;
	top: 0;
	position: fixed;
	background-color: var(--backg-dial-boite);
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	Z-index: 2000
}

#boite_base {
	position: absolute;
	background-color: var(--backg-dial-boite-base);
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 400px;
	height: 260px;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 4px 5px 2px 1px rgba(46, 46, 46, 0);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 4px 5px 2px 1px rgba(46, 46, 46, 0);

	/* box-shadow: 14px 16px 7px 0px rgb(48 47 47 / 52%); */
	/* -moz-box-shadow: 14px 16px 7px 0px rgb(48 47 47 / 52%); */
	/* -webkit-box-shadow: 14px 16px 7px 0px rgb(48 47 47 / 52%); */
}

#boite_header, #boite_body, #boite_footer {
	margin: 6px
}

#boite_header {
	height: 50px
}

#boite_header #boite_theme {
	font-size: 24px;
	margin: auto 10px;
	margin-left: 0;
	color: var(--col-dial-title);
	font-weight: bold;
	/*font-family: 'Baloo 2'*/
	, cursive;
	width: 300px;
}

#boite_header .dialogue_stop {
	width: 30px;
	margin: auto 10px;
	margin-right: 0;
	font-size: 26px;
	text-shadow: var(--txt-shadow-3D-left);
	border-radius: 10px;
	color: hsl(0deg 36% 40%)
}

#boite_body {
	margin-right: 8px;
	background-color: var(--backg-dial-0);
	background-image: linear-gradient(to bottom, var(--linea-dial-1) 0, var(--linea-dial-2) 40%, var(--linea-dial-2) 60%, var(--linea-dial-1) 150%);
	height: 134px;
	box-shadow:
		-1px 0 0 rgba(0, 0, 0, 0.4),
		0px -1px 0 rgba(0, 0, 0, 0.4),
		-1px -1px 0 rgba(0, 0, 0, 0.4),
		-2px 0 0 rgba(0, 0, 0, 0.4),
		0px -2px 0 rgba(0, 0, 0, 0.4),
		-2px -2px 0 rgba(0, 0, 0, 0.4),
		1px 0 0 rgba(255, 255, 255, 1),
		0px -1px 0 rgba(255, 255, 255, 1),
		0px 1px 0 rgba(255, 255, 255, 1),
		1px 1px 0 rgba(255, 255, 255, 1),
		2px 0 0 rgba(255, 255, 255, 1),
		0px 2px 0 rgba(255, 255, 255, 1),
		2px 2px 0 rgba(255, 255, 255, 1)
}

#boite_body #boite_question {
	margin: 10px 10px 10px 10px;
	width: 100%;
	font-size: 16px;
	line-height: 25px;
	/*font-family:'Fugaz One',cursive*/
	;
	height: 134px;
	text-shadow: var(--txt-shadow-3D)
}

#boite_question .icone {
	position: absolute;
	right: 10px
}

#boite_body .img_icon {
	display: none;
	font-size: 60px;
	padding: 10px 15px 0 0;
	text-shadow: var(--txt-shadow-creux);
	border-radius: 10px;
	margin-right: 5px
}

#boite_footer {
	height: 40px;
	line-height: 40px
}

#bouton_footer {
	position: absolute;
	right: 10px;
	margin: auto
}

#bouton_footer .btn {
	margin-left: 5px
}

#boite_attente {
	left: 0;
	top: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	Z-index: 2200
}

#titre_close {
	float: right;
	width: 100%;
}

#imagechargement {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2300
}

.textechargement {
	font-family: verdana;
	margin: 20px;
	text-align: center;
	font-size: 40px;
	Font-Weight: Bold;
	line-height: 30px;
	color: hsl(0deg 51% 47%);
	text-shadow: 0 1px 0 #eee, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
}

.imagechargement {
	margin-top: 3vw;
}

.imagechargement img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60px;
}

@media screen and (max-width:600px) {
	.textechargement {
		font-size: 7vw;
	}
}

@media screen and (max-width:500px) {
	#boite_base {
		width: 300px
	}

	#boite_base .boite_theme {
		font-size: 20px !important
	}

	#boite_base .boite_question {
		font-size: 15px !important
	}
}

/*###################################################*/
/* GESTION DES BOUTONS */
.myButton {
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
}

.btn {
	text-decoration: none;
	display: inline-block;
	/* margin-bottom: 0; */
	/* font-weight: 400; */
	/* text-align: center; */
	/* white-space: nowrap; */
	/* vertical-align: middle; */
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	/* border: 1px solid transparent; */
	padding: 6px 10px;
	font-size: 12px;
	min-width: 70px;
	max-width: 150px;
	line-height: 14px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	text-shadow: 0px 1px 0px hsl(0deg 1% 66%);
	box-shadow: 0px 10px 14px -7px hsl(0deg 0% 23%);
}

.btn:active {
	position: relative;
	top: 1px;
}

.btn-turquoise {
	background: linear-gradient(to bottom, hsl(196deg 37% 53%) 5%, hsl(189deg 41% 43%) 100%);
	background-color: hsl(196deg 37% 53%);
	color: #ffffff;
}

.btn-turquoise:hover {
	background: linear-gradient(to bottom, hsl(189deg 41% 43%) 5%, hsl(196deg 37% 53%) 100%);
	background-color: hsl(189deg 41% 43%);
}

.btn-success {
	background: linear-gradient(to bottom, hsl(133deg 60% 55%) 5%, hsl(133deg 61% 33%) 100%);
	background-color: hsl(133deg 37% 53%);
	color: #ffffff;
}

.btn-success:hover {
	background: linear-gradient(to bottom, hsl(133deg 61% 33%) 5%, hsl(133deg 60% 55%) 100%);
	background-color: hsl(133deg 60% 55%);
}

.btn-primary {
	background: linear-gradient(to bottom, hsl(220deg 60% 55%) 5%, hsl(220deg 61% 33%) 100%);
	background-color: hsl(220deg 37% 53%);
	color: #ffffff;

}

.btn-primary:hover {
	background: linear-gradient(to bottom, hsl(220deg 61% 33%) 5%, hsl(220deg 60% 55%) 100%);
	background-color: hsl(220deg 60% 55%);
}

.btn-secondary {
	background: linear-gradient(to bottom, hsl(206deg 14% 68%) 5%, hsl(0deg 0% 40%) 100%);
	background-color: hsl(0deg 0% 40%);
	color: #ffffff;
}

.btn-secondary:hover {
	background: linear-gradient(to bottom, hsl(0deg 0% 40%) 5%, hsl(206deg 14% 68%) 100%);
	background-color: hsl(206deg 14% 68%);
}

.btn-danger {
	background: linear-gradient(to bottom, hsl(354deg 60% 55%) 5%, hsl(354deg 61% 33%) 100%);
	background-color: hsl(354deg 37% 53%);
	color: #ffffff;
}

.btn-danger:hover {
	background: linear-gradient(to bottom, hsl(354deg 61% 33%) 5%, hsl(354deg 60% 55%) 100%);
	background-color: hsl(354deg 60% 55%);
}

.btn-warning {
	background: linear-gradient(to bottom, hsl(45deg 60% 55%) 5%, hsl(45deg 61% 33%) 100%);
	background-color: hsl(45deg 37% 53%);
	color: #ffffff;
}

.btn-warning:hover {
	background: linear-gradient(to bottom, hsl(45deg 61% 33%) 5%, hsl(45deg 60% 55%) 100%);
	background-color: hsl(45deg 60% 55%);
}

.btn-info {
	background: linear-gradient(to bottom, hsl(206deg 100% 76%) 5%, hsl(206deg 49% 51%) 100%);
	background-color: hsl(206deg 49% 51%);
	color: #ffffff;
}

.btn-info:hover {
	background: linear-gradient(to bottom, hsl(206deg 49% 51%) 5%, hsl(206deg 100% 76%) 100%);
	background-color: hsl(206deg 100% 76%);
}

.btn-light {
	background: linear-gradient(to bottom, hsl(220deg 17% 98%) 5%, hsl(220deg 1% 82%) 100%);
	background-color: hsl(220deg 37% 53%);
}

.btn-light:hover {
	background: linear-gradient(to bottom, hsl(220deg 1% 82%) 5%, hsl(220deg 17% 98%) 100%);
	background-color: hsl(220deg 17% 98%);
}

.btn-dark {
	background: linear-gradient(to bottom, hsl(0deg 0% 61%) 5%, hsl(0deg 0% 0%) 100%);
	background-color: hsl(0deg 0% 0%);
	color: #ffffff;
}

.btn-dark:hover {
	background: linear-gradient(to bottom, hsl(0deg 0% 0%) 5%, hsl(0deg 0% 61%) 100%);
	background-color: hsl(0deg 0% 61%);
}

.btn-link {
	background: linear-gradient(to bottom, hsl(220deg 17% 98%) 5%, hsl(220deg 1% 82%) 100%);
	background-color: transparent;
	color: hsl(220deg 100% 50%);
}

.btn-link:hover {
	background: linear-gradient(to bottom, hsl(220deg 1% 82%) 5%, hsl(220deg 17% 98%) 100%);
	text-decoration: underline;
	background-color: transparent;
	color: hsl(220deg 100% 35%);
}

.btn-close {
	position: absolute;
	right: 7px;
	background: linear-gradient(to bottom, hsl(220deg 17% 98%) 5%, hsl(220deg 1% 82%) 100%);
	background-color: transparent;
	color: hsl(0deg 0% 43%);
	font-weight: bold;
	border: 0;
	border-radius: 4px;
	font-size: 18px;
	line-height: 18px;
	padding: 1px 4px 3px 4px;
	margin: 0;
	cursor: pointer;
}

.btn-close:hover {
	background: linear-gradient(to bottom, hsl(0deg 0% 84%) 10%, red 100%);
	background-color: transparent;
	color: white;
}

/*###################################################*/
/* MODIFICATION / AJOUT W3.CSS */
.w3-w100 {
	width: 100%;
}

.w3-cell-center {
	margin: auto;
}

.w3-text-center {
	text-align: center;
}

.w3-justifi-align {
	text-align: justify;
}

.w3-modal {
	padding-top: 45px;
}

.w3-input {
	padding: 7px;
	/*margin-bottom: 8px;*/
	font-size: 12px;
}

.w3-close {
	padding: 2px 9px;
	background: transparent;
}

.w3-modal label {
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
	margin-top: 10px;
	display: flex;
}

.w3-modal-content {
	background-color: transparent;
}

legend .w3-close {
	border-top-right-radius: 7px;
}

.w3-circle.w3-avatar {
	width: 7%;
}

/*###################################################*/
/* MOFIFICATION DE BOOTSTRAP */

/*###################################################*/
/* MOFIFICATION DE WAMESOME */
.fa {
	margin: 0px 5px 0px 2px;
}

/*###################################################*/


.wptscribo__tab {
	overflow: hidden;
	border: 2px solid hsl(0, 0%, 0%);
	background-color: hsl(0, 0%, 95%);
	margin-top: -2px;
}

.wptscribo__tab--links {
	background-color: hsl(0, 7%, 80%) !important;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	margin-right: -5px;
	padding: 5px 15px;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
}

.wptscribo__tab--links.active {
	background-color: hsl(225, 60%, 80%) !important;
	border-bottom-width: 2px;
	border-bottom-color: hsla(0, 0%, 100%, 0);
}

.wptscribo__tab button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	margin: 0 10px 0 5px !important;
	text-decoration: none;
	/* Create an active/current tablink class */
}

.wptscribo__tab button:hover {
	background-color: hsl(0, 0%, 87%);
}

.wptscribo__tab button.active {
	background-color: hsl(0, 0%, 80%);
}

.wptscribo__tab .row-actions button {
	padding: 9px;
	border-radius: 5px;
}

.wptscribo__tab .row-actions button:hover {
	color: hsl(225, 62%, 47%);
}

.wptscribo__tab input,
.wptscribo__tab select,
.wptscribo__tab button {
	margin-right: 3px;
	font-size: 0.9em;
	border: 1px #cbcbcb solid;
	border-top: none;
}

.wptscribo__tab input.readonly,
.wptscribo__tab select.readonly,
.wptscribo__tab button.readonly {
	background-color: rgba(215, 214, 214, 0.2705882353);
	font-style: italic;
	border: 1px solid #dddddd;
}

.wptscribo__tab input,
.wptscribo__tab button {
	line-height: 4px;
}

.wptscribo__tab select.readonly,
.wptscribo__tab button.readonly {
	pointer-events: none;
}

.wptscribo__tab hr, .onglet hr {
	border: none;
	border-top: 3px ridge #878cd9;
	color: #878cd9 !important;
	font-weight: bold;
	overflow: visible;
	text-align: center;
	height: 5px;
	margin: 8px 0;
}

/* 
.wptscribo__tab hr::after {
	background: rgba(255, 255, 255, 0);
	font-family: "Font Awesome 6 Brands";
	font-style: normal;
	font-weight: 100;
	color: #64618d;
	content: "\f198";
	padding: 0 4px;
	position: relative;
	top: -13px;
} */

.wptscribo__tab--content {
	display: none;
	padding: 6px 12px;
	/* border: 2px solid hsl(0, 0%, 80%); */
	/* border-top: none; */
	background-color: hsl(225, 60%, 80%);
	margin-bottom: 20px;
}

.wptscribo__tab--content .w3-scribo {
	background-color: hsl(225, 60%, 80%);
}



.wptscribo__tab--content .--choise-font {
	margin-bottom: 5px;
}

.wptscribo__tab--content .--choise-font label {
	display: inline-block;
	width: 200px;
}

.wptscribo__tab--onglet {
	background-color: hsl(225, 60%, 80%);
	display: none;
	padding: 6px 12px;
	margin-bottom: 20px;

}

.wptscribo__options>div:not(.checkboxes) *:not(label):not([type=checkbox]) {
	margin-bottom: 5px;
}

.wptscribo__options>div:not(.checkboxes) label {
	margin-top: 8px;
	border-top: 1px solid #5e5e5e;
	padding: 10px 0px;
	font-weight: bold;
	color: hsl(225, 58%, 19%) !important;
}

.wptscribo__options>div:not(.checkboxes) select,
.wptscribo__options>div:not(.checkboxes) input {
	margin-right: 0px;
	max-width: 500px;
}

.wptscribo__options>div:not(.checkboxes) select {
	max-width: 350px;
}

.wptscribo--choice-logo {
	display: flex;
	align-items: center;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.wptscribo--choice-logo input {
	width: 90px;
	text-align: right;
	padding-right: 0px !important;
}

.wptscribo--choice-logo input,
.wptscribo--choice-logo button {
	min-height: 0;
	height: 38px;
}

.wptscribo--choice-logo img {
	height: 55px;
	border: ridge;
}

.wptscribo__widget {
	max-width: 1300px;
}

.wptscribo__widget>div:last-child {
	border: solid 2px hsl(0, 0%, 66%);
	border-style: groove;
	padding: 18px;
}

.wptscribo__widget input,
.wptscribo__widget select {
	height: 40px;
}

@media screen and (max-width: 599px) {

	.wptscribo__widget input,
	.wptscribo__widget select {
		height: 30px;
		min-height: 0;
	}
}

.wptscribo__widget--font {
	display: flex;
	flex-direction: column;
}

.wptscribo__widget--font>div>div:last-child {
	flex-direction: column;
	overflow: hidden;
	transition: 1.8s cubic-bezier(0.39, 0.58, 0.57, 1) all 0.1s;
}

.wptscribo__widget--font label {
	font-style: italic;
	font-size: 0.8em;
	padding-left: 4px;
}

.wptscribo__widget--font label.number {
	display: block;
	text-align: center;
}

.wptscribo__widget--font .w3-col {
	padding: 0 2px;
}

.wptscribo__font>div {
	padding: 5px 10px;
	background-color: #ffffff;
	border-bottom: 0.5px solid #afacac;
}

.wptscribo__font>div:nth-child(even) {
	background-color: #f6f7f7;
}

.wptscribo__font>div:first-child, .wptscribo__font>div:last-child {
	padding: 15px;
	font-weight: bold;
}

.wptscribo__font--actions {
	cursor: pointer;
}

.wptscribo__font--actions:hover .row-actions {
	color: #3d8ddd;
	left: 0;
}

.w3-tooltip span {
	position: absolute;
	left: 10px;
	bottom: -35px;
}

.w3-input.w3-animate-input {
	width: 60%;
}


.heading-title {
	color: #FFFFFF;
	-webkit-text-stroke-width: 1px;
	stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	stroke: #000;
	font-size: 25px;
	font-family: cursive;
	font-weight: bold;
	text-shadow: 3px 1px 5px rgba(12.306521739130414, 0, 76.5, 0.97);
}

.cv {
	font-family: 'Atkinson Hyperlegible', monospace, sans-serif;
	color: black !important;
}

.cv video {
	width: 305px;
	max-width: 305px;
	align-self: center;
}

.cv_entete {
	background-color: transparent;
	background-image: linear-gradient(180deg, hsla(236, 95%, 22%, 0.71) 8%, hsla(236, 100%, 94%, 0) 98%);
}


.cv_img {
	height: fit-content;
}

.cv_img img {
	background: hsl(235, 100%, 10%);
	width: 110px;
	/* height: 100%; */
	height: 135px;
	object-fit: contain;
	aspect-ratio: 1 / 1;
	border-style: groove;
	border-radius: 19px;
	border-width: 3px;
	box-shadow: 5px 2px 14px 4px #6F6EAD;
	margin: 20px;
	/* padding: 10px 0px;*/
}

.cv--name {
	color: #FFFFFF !important;
	-webkit-text-stroke-width: 1px;
	stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	stroke: #000;
	text-shadow: 3px 1px 5px rgba(12.306521739130414, 0, 76.5, 0.97);
}

video {
	margin: 0 auto;
	width: 330px;
	margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */